wandb/
__pycache__/
output_dir/

.python-version
*.fits
.jsonl
.json
*.log
*.txt
*.png
*.gz
*.log
*.pickle
*.gz*
*.tar*
*.zip*
*.rar
*.7z
*.xz
*.bz2
*.tar.gz
*.tar.xz
*.svg


pyproject.toml
type_info.json
pyannotate.py
command_memo.txt
view.sh
results/

*.pdf