checkpoints/
wandb/
__pycache__/
output_dir/

.python-version
*.csv
*.fits
*.npz
.jsonl
.pth
.json
*.log
.*.txt
*.h5
*.pkl
*.npy
*.png
*.pth
*.gz
*.log
*.pickle
*.gz*
*.tar*
*.zip*
*.rar
*.7z
*.xz
*.bz2
*.tar.gz
*.tar.xz
*.txt
*.svg
datasets/all_data/
datasets/all_data_hour_preprocessed/
datasets/flare_data/
datasets/flare_compressed/
datasets/all_features/
datasets/data/
datasets/xrs_data/
SegMamba
hdf*
checkpoints/
logs/

pyproject.toml
type_info.json
pyannotate.py
command_memo.txt
view.sh
results/

*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp